@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
  --accentColor: #f3007a;
  --faintAccentColor: #f3007a2c;
}

*{
  font-family: 'Noto Sans JP', sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
}
main {
  min-height: 100vh;
}

.title {
  font-size:3em;
  margin:0;
  color:black;
}

h1{
  color: var(--accentColor);
}

h1,h2,h3,h4,h5,h6{
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration-color: var(--accentColor);
}

* {
  box-sizing: border-box;
}

img{
  border-radius: 10px;
}


.grid-1fr-1fr,
.grid-1fr-2fr{
  display: grid;
  gap: 1em;
}

@media screen and (min-width: 1301px) {
  main{
    padding: 0% 10%;
  }
  header{
    padding:1.5em 10%;
  }
  .grid-1fr-1fr{
    grid-template-columns: 1fr 1fr;
  }
  .grid-1fr-2fr{
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  main{
    padding: 0% 10%;
  }
  header{
    padding:1.5em 10%;
  }
  .grid-1fr-1fr{
    grid-template-columns: 1fr 1fr;
  }
  .grid-1fr-2fr{
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  main{
    padding: 0% 8%;
  }
  header{
    padding:1.5em 8%;
  }
  .grid-1fr-1fr,
  .grid-1fr-2fr{
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
  main{
    padding: 0% 5%;
  }
  header{
    padding:1.5em 5%;
  }
  .grid-1fr-1fr,
  .grid-1fr-2fr{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  main{
    padding: 0% 2.5%;
  }
  header{
    padding:1.5em 2.5%;
  }
  .grid-1fr-1fr,
  .grid-1fr-2fr{
    grid-template-columns: 1fr;
  }
}